    <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
    <div id="portlet-config" class="modal hide">
      <div class="modal-header">
        <button data-dismiss="modal" class="close" type="button"></button>
        <h3>Widget Settings</h3>
      </div>
      <div class="modal-body"> Widget settings form goes here </div>
    </div>
    <div class="clearfix"></div>
    <div class="content">  
    <div class="page-title">  
      <h3>Dashboard </h3>   
    </div>
     <div id="container">
    <div class="row-fluid spacing-bottom">  
      <div class="span8">
        <div class="row-fluid" style="margin-bottom: 20px;">
          <div class="span12 tiles grey ">
            <div class="grid simple horizontal red">
              <div class="grid-title ">
                <h3><i class="icon-heart">&nbsp;&nbsp;</i>Meus<span class="semi-bold"> Peludos</span></h3>              
              </div>
              <div class="grid-body" style="border: 0px; border-top: 1px solid #dddddd;">
                <div class="row-fluid">
                  <ul style="list-style:none">
                    <% if @pets %>
                      <% @pets.each do |pet| %>
                        <li> 
                          <div class="span12 ">
                            <div class="pull-left" >
                              <div style="background-color: black; border-radius: 100px; height: 100px; width: 100px; background-image: url('<%= pet.profilepic.url %>');background-size: cover;margin-top: 5px; display: inline-block; float:left;"></div>

                              <div style="float:right;margin-left: 20px;margin-top: 30px;"> ID TAG:  <br>
                                <span class="semi-bold" style="line-height: 30px; font-size: 30px;letter-spacing: -1px;"><%= pet.name %>, <i style="line-height: 30px; font-size: 20px;letter-spacing: -1px;font-weight: 300;">
                                  <% if pet.gender == "um macho" %>
                                        o <%= pet.breed %>
                                    <% else %>
                                        a <%= pet.breed %>
                                  <% end -%></i></span> 

                              </div>  
                            </div>
                            <div class="pull-right" >
                              <button type="button" style="margin-top: 40px; padding-top: 5px;" class="btn btn-primary btn-xs btn-mini btn-danger"><i class="icon-warning-sign" style="font-size:20px"></i><br>Alerta de Desaparecimento</button>
                            </div>  
                          </div>   
                        </li>
                      <%end%>
                    <%end%>  
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- INICIO DA AREA DE PETS DESAPARECIDOS --> 
        <!-- <div class="row-fluid spacing-bottom">
          <div class="span12 tiles white ">
            <div class="no-margin-grid">
            <div class="row-fluid"> 
            <div class="tile-more-content span4">
              <div class="tiles green">
               <div class="tiles-body">
                <div class="heading">
                  Alerta de Pets Desaparecidos
                </div>  
                <p>Local : Natal-RN</p>         
               </div>
               <div class="tile-footer">
                <div class="iconplaceholder"><i class="icon-map-marker"></i></div>4 Peludinhos, em 2 Bairros
               </div>
              </div>
               <div class="tiles-body" >
                <ul class="progress-list" >
                <li>
                  <div class="label label-important pull-left">22/12/2013</div>
                  <div class="clearfix"></div>
                  <div style="background-color: black; border-radius: 100px; height: 50px; width: 50px; background-image: url('assets/img/balu.jpg');background-size: cover;margin-top: 5px;" class="pull-left"></div>
                  <div class="details-wrapper">
                    <div class="name"><strong>Balu</strong>, <i>a Lhasa Apso</i></div>
                    <div class="description">Desaparecida em Candelária</div>
                  </div>
                  <div class="clearfix"></div>
                </li>
                <li>
                  <div class="label label-important pull-left">01/12/2013</div>
                  <div class="clearfix"></div>
                  <div style="background-color: black; border-radius: 100px; height: 50px; width: 50px; background-image: url('assets/img/pelezinho.jpg');background-size: cover;margin-top: 5px;" class="pull-left"></div>
                  <div class="details-wrapper">
                    <div class="name"><strong>Lila</strong>, <i>o Vira-Lata</i></div>
                    <div class="description">Desaparecido em Petrópolis</div>
                  </div>
                  <div class="clearfix"></div>
                </li>
                </ul>
                
               </div>
               </div>
                <div class="tiles white span8">
                <div class="tiles-chart"> 
                <div class="tiles-body">                  
                  <div class="tiles-title">PET-RADAR</div>
                  <div class="heading">
                      8 <i class="icon-map-marker"></i>
                  </div>  
                </div>    
                <div id="world-map" style="height:405px"></div>                         
                </div>            
                <div class="clearfix"></div>  
               </div>   
              </div>
              </div>
          </div>
        </div> -->
        <!-- FIM AREA DE PETS DESAPARECIDOS -->       
        
        <div class="row-fluid hidden">
              <div id="ricksaw" class="hidden" ></div>              
              <div id="legend" class="hidden" ></div>
        </div>
      </div>
      <div class="span4">
        <!-- INICIO BOX ADQUIRA TAG  -->
        <div class="row-fluid">
        <div class="span12">        
            <div class="grid solid brown">
              <div class="grid-title adquirabox">
                <h4>Adquira já a TAG do seu peludo</h4>
                <div class="tools">
                  <a href="javascript:;" class="collapse"></a>
                </div>
              </div>
              <div class="grid-body">
                <h3 style="font-size: 40px; font-weight: bold;">R$ 9,90 <div style="font-size: 16px;font-weight: lighter;margin-top: 5px;color: #D5E611 !important;">Frete Grátis para todo Brasil</div></h3>
                          <p>Adquira agora a TAG para o Seu Peludo e deixe-o ainda mais conectado com você.</p>
                          <button class="btn btn-block btn-white" type="button" style="background-color: transparent;color: #DAF709;font-weight: bold; border: 2px solid #DAF709;">&nbsp;&nbsp;Fazer Pedido</button>
              </div>
            </div>
            <div id="chart" class="hidden"> </div>
        </div>  
        </div>
        <!-- FIM BOX ADQUIRA TAG  -->
        <div class="row-fluid">
          <!-- INICIO ATUALIZAÇÕES MEU PELUDO -->       
        <div class="span12">
          <div class="tiles label-warning">
            <div class="tiles-body">
              <div class="controller">                
                <a href="javascript:;" class="reload"></a>
                <a href="javascript:;" class="remove"></a>                  
              </div>
              <div class="tiles-title" style="color: #6D4D39;">
                ATUALIZAÇÕES NO MEU PELUDO
              </div>              
              </br>
              <% @notices.last(3).each do |notice| %>               
                <div class="notification-messages danger">
                  <div class="iconholder">
                    <i class="icon-warning-sign"></i>
                  </div>
                  <div class="message-wrapper">
                    <div class="heading">
                      <%= notice.title %>
                    </div>
                    <div class="description">
                      <%= notice.text %>
                    </div>
                  </div>
                </div>
              <% end %>                
            <div>
          </div>          
        </div>
        <!-- FIM ATUALIZAÇÕES MEU PELUDO -->    
        </div>    
    
    </div>      
    </div>
    </div>
    </div>
  </div> 