<div class="container">
 <div>
          <div class="hero-unit">
            <h1>Olá, <%= current_user.first_name %>!</h1>
            <p>Esta é a página principal do usuário. <br>Clique no botão abaixo para criar o perfil do seu animal</p>
            <p><%= link_to "Adicionar Pet", new_pet_path, class: "btn btn-primary btn-large" %></p>
          </div>	

	<% @pets.each do |pet| %>
	<div class="row-fluid">
	<div class="span4">
	<%= image_tag pet.pet_image_url %>

	</div>
	<div class="span8">
		<div class="well">
			<p><%= pet.name %></p>
			<p><%= pet.breed %></p>
			<p><%= pet.birthday %></p>
			<hr />
			<%= link_to 'Ver Perfil', pet_path(pet) %><br>
			<%= link_to 'Editar Perfil', edit_pet_path(pet) %><br>
			<%= link_to 'Deletar animal', pet, method: :delete, data: { confirm: 'Você tem certeza que deseja excluir esse pet? Todos os dados serão perdidos' } %>
			</div>
	</div>		
	</div>		
	<% end %>
	

</div>
