<%= simple_form_for @pet, input_html: { multipart: true } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :user_id, as: :hidden, input_html: { value: @author_id } %>
    <%= f.input :name, label: false, input_html: { class: 'w-input-clean fieldstyle1', placeholder: 'Nome' } %>
    <%= f.input :birthday, label: false, as: :date, input_html:  { class: 'w-input-clean fieldstyle1'}  %>
    <%= f.input :breed, label: false, input_html:  { class: 'w-input-clean fieldstyle1'}  %>
    <%= f.input :gender, label: false, input_html:  { class: 'w-input-clean fieldstyle1'}  %>
    <%= f.input :hobbies, label: false, input_html:  { class: 'w-input-clean fieldstyle1'}  %>
    <%= f.input :description, label: false, as: :text, input_html:  { class: 'w-input-clean fieldstyle1'}  %>
  </div>
<input class="w-input-clean fieldstyle1" type="text" placeholder="Qual o nome do seu pet? " name="field" required="required"></input>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
