<%= content_for :formstyle do %> 
  <%= stylesheet_link_tag    "basestyle" %>
  <%= javascript_include_tag	"nlform" %>
  <%= javascript_include_tag	"modernizr.custom" %>
  		<script>
			var nlform = new NLForm( document.getElementById( 'nl-form' ) );
		</script>

<%end%>
<div class="w-container content">
	<div class="section">
		<div class="container">
<%= simple_form_for @pet, input_html: { multipart: true }, :html => {:id => 'nl-form', :class => 'nl-form'} do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs" style="max-width: 50em;">
  	<% @genders = ['um macho','uma fêmea'] %>
  	<%= f.input :user_id, as: :hidden, input_html: { value: @author_id } %>
					Meu pet é <%= f.select :gender, @genders %>,<br>da raça <%= f.input_field :breed, label: false, maxlength: 20, size: 15  %>,<br> que atende pelo nome de <%= f.input_field :name, label: false, maxlength: 20, size: 15 %>.
<br>
					<div class="nl-submit-wrap">
						<button class="nl-submit" type="submit">Cadastrar Pet</button>
					</div>
					<div class="nl-overlay"></div>
				</form>
			</div>
		</div><!-- /container --><% end %>

</div>
</div>
</div>
				