

<p id="notice"><%= notice %></p>

      	<img src="<%= @pet.pet_image %>" alt="" class="circular" />

     		<h1>   <%= @pet.name %></h1>
      	<div class="span9" id="header_subtitle" >
      		<h2>Em busca do osso perfeito!</h2>
      	</div>
	</div>	  
  </div>            
</div>

</div>

<div style="visibility:hidden">
<p>
  <b>Name:</b>
  <%= @pet.name %>
</p>

<p>
  <b>Birthday:</b>
  <%= @pet.birthday %>
</p>


<p>
  <b>Breed:</b>
  <%= @pet.breed %>
</p>

<p>
  <b>Gender:</b>
  <%= @pet.gender %>
</p>

<p>
  <b>Hobbies:</b>
  <%= @pet.hobbies %>
</p>

<p>
  <b>Description:</b>
  <%= @pet.description %>
</p>

<p>
  <b>Photo:</b>
  <%= @pet.pet_image %>
</p>


</div>

<% if user_signed_in? %>
<%= link_to 'Edit', edit_pet_path(@pet) %> |
<%= link_to 'Back', pets_path %>
<% end %>
