
  <div class="petbackground" style="background-image: url('<%= @pet.profilepic.url %>');">
    <div class="petbackground overlay">
     <div class="wrapper"> 
      <div class="w-row contentpet">
        <div class="w-col w-col-1 w-clearfix">
          <div class="navlateral">
            <div class="navitem">
              <div class="userbadge" style="margin-top: -10px; width: 80px; height: 80px;"></div><strong><%= @pet.user.first_name %> <%= @pet.user.last_name %></strong>
            </div>
            <div class="navitem selected">
              <div class="icon-pata"></div>
              <div class="navtext">PERFIL</div>
            </div>
            <!--div class="navitem">
              <div class="icon-feed"></div>
              <div class="navtext dark">FEED</div>
            </div-->
          </div>
        </div>
        <div class="w-col w-col-11">
          <p id="notice"><%= notice %></p>
          <div class="petconten">
            <div class="whiteline"></div>
            <h1 class="petname"><%= @pet.name %></h1>
            <h2 class="pettagline"> <%= @pet.description %></h2>
            <div class="petinfos">
              <div class="w-row">
                <div class="w-col w-col-4">
                  <div class="petinfos item">
                    <%= image_tag 'icon-coracao.png' %>
                    <h5 class="petinfos h5"><%= @pet.breed %></h5>
                  </div>
                </div>
                <div class="w-col w-col-4">
                  <div class="petinfos item">
                    <%= image_tag 'icon-femea.png' %>
                    <h5 class="petinfos h5"><%= @pet.gender %></h5>
                  </div>
                </div>
                <div class="w-col w-col-4">
                  <div class="petinfos item">
                    <% image_tag 'icon-idade.png' %>
                    <h5 class="petinfos h5"><%= @pet.birthday %></h5>
                  </div>
                </div>
              </div>
            </div>
            <div class="whiteline"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  