<%= content_for :formstyle do %> 
  <%= stylesheet_link_tag    "basestyle" %>
  <%= javascript_include_tag  "nlform" %>
  <%= javascript_include_tag  "modernizr.custom" %>
      <script>
      var nlform = new NLForm( document.getElementById( 'nl-form' ) );
    </script>

<%end%>
<%= simple_form_for @pet,:url => wizard_path, :method => :put do |f| %>
  <% if @pet.errors.any? %>
    <div class="error_messages">
      <h2><%= pluralize(@pet.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @pet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= yield f %>
  
  <div class="nl-submit-wrap">
    <%= f.submit "Finalizar!", style: 'nl-submit' %>
  </div>
<% end %>