<div class="logotop"></div>
  <h1 class="h1login">Acesso restrito a convidados!</h1>
  <div class="w-container">
    <div>
      <div>
		<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {class:"w-form loginform"}) do |f| %>
		<fieldset>
		<%= f.input :email, label: false, placeholder: 'E-mail', input_html: { class: 'w-input campoform' }, label_html: { style: 'font-color: #fff;' }  %>
		<%= f.input :password, label: false, placeholder: 'Senha', input_html: { class: 'w-input campoform' }, label_html: { style: 'font-color: #fff;' }   %>
  


		<div><%= f.button :submit, "Login" %></div>
</fieldset>
<% end %>

<!-- <%= render "devise/shared/links" %> -->
 
    <!-- END LOGIN FORM --> 
    </div>
  </div>
  </div>
  <footer class="footerbar">
    <p class="footertxt">Meu Peludo - Todos os Direitos Reservados</p>
  </footer>
