<!-- BEGIN SIDEBAR -->
  <div class="page-sidebar" id="main-menu"> 
  <!-- BEGIN MINI-PROFILE -->
   <div class="user-info-wrapper">  
  <div class="profile-wrapper">
    <%= image_tag 'profiles/avatar.jpg', :width => "69", :heigh => "69" %>    
  </div>
    <div class="user-info">
      <div class="greeting">Bem Vindo</div>
      <div class="username"><%= current_user.first_name %> <span class="semi-bold"><%= current_user.last_name %></span></div>
      <div class="status"><%= link_to 'Fazer Logout', logout_path, :style => 'color: #929fa5;' %></div>
    </div>
   </div>
  <!-- END MINI-PROFILE -->
  
  <!-- BEGIN MINI-WIGETS -->

   <!-- END MINI-WIGETS -->
   
  <!-- BEGIN SIDEBAR MENU -->
  <% if current_user.admin %>
    <!-- INICIO MENU ADMIN-->
    <p class="menu-title">ADMINISTRAÇÃO</p>
    <ul>  
      <li class="start">
        <%= link_to dashboard_path do %>
          <i class="icon-custom-home"></i> <span class="title">Painel de Controle</span>
        <% end %>
      </li>
      <li class="start">
        <%= link_to new_notice_path do %>
          <i class="icon-custom-home"></i> <span class="title">Cadastrar Notícia</span> <span class="selected"></span>
        <% end %>
      </li>
    </ul>  
    <!-- FIM MENU ADMIN-->  
  <% end %>
  <!-- MENU USUARIO -->
    <p class="menu-title">NAVEGAÇÃO</p>
    <ul>  
      <li class="start">
        <%= link_to home_path do %>
          <i class="icon-custom-home"></i> <span class="title">Dashboard</span> <span class="selected"></span>
        <% end %>
      </li>
      <li class="">
        <%= link_to edit_user_registration_path do %>
            <i class="icon-user"></i> <span class="title">Minha Conta</span>
        <% end %>
      </li> 
      <li class=""> <a href="javascript:;"> <i class="icon-tags"></i> <span class="title">Minhas Tags</span> <span class="arrow "></span> </a>
        <ul class="sub-menu">
      <li > 
        <%= link_to home_path do %> <!-- EDITAR DEPOIS -->
          Comprar Tag &nbsp;&nbsp;<span class="label label-warning" style="color: black;">SUCCESSO!</span>
        <% end %>
      </li>
      <li > 
        <%= link_to home_path do %> <!-- EDITAR DEPOIS -->
          Ativar Tag
        <% end %>
      </li>
      <li > 
        <%= link_to home_path do %> <!-- EDITAR DEPOIS -->
          Histórico de Pedidos
        <% end %>
      </li>
        </ul>
      </li>
    <li class=""> <a href="javascript:;"> <i class="icon-heart"></i> <span class="title">Meus Peludos</span> <span class="arrow "></span> </a>
        <ul class="sub-menu">
          <li > 
            <%= link_to home_path do %> <!-- EDITAR DEPOIS -->
              Ver meus Pets
            <% end %> 
          </li>
          <li > 
            <%= link_to home_path do %> <!-- EDITAR DEPOIS -->
              Cadastrar Pet
            <% end %>
          </li>
        </ul>
      </li>
    <li class="hidden-desktop hidden-phone visible-tablet" id="more-widgets" style="display:" > <a href="javascript:;"> <i class="icon-ellipsis-horizontal"></i></a> 
    <ul class="sub-menu">
        <div class="side-bar-widgets">
        <p class="menu-title">LINK ÚTEIS </p>
        <div class="status-widget">
          <div class="status-widget-wrapper">
            <div class="title"><a href="#">FAQ</a></div>
            <p>Perguntas mais frequentes</p>
          </div>
        </div>
        <div class="status-widget">
          <div class="status-widget-wrapper">
            <div class="title"><a href="#">Fale Conosco</a></div>
            <p>Central de Atendimento</p>
          </div>
        </div>
      </div>
    </ul>
    </li>    
    </ul>
    <div class="side-bar-widgets">
      <p class="menu-title">LINK ÚTEIS </p>
      <div class="status-widget">
        <div class="status-widget-wrapper">
          <div class="title"><a href="#">FAQ</a></div>
          <p>Perguntas mais frequentes</p>
        </div>
      </div>
      <div class="status-widget">
        <div class="status-widget-wrapper">
          <div class="title"><a href="#">Fale Conosco</a></div>
          <p>Central de Atendimento</p>
        </div>
      </div>
    </div>
  <a href="#" class="scrollup">Scroll</a>
  <div class="clearfix"></div>
    <!-- END SIDEBAR MENU --> 
  
  
  </div>
   <div class="footer-widget">    
  <div class="progress transparent progress-success progress-small no-radius no-margin">
    <div data-percentage="79%" class="bar animate-progress-bar" ></div>   
  </div>
  <div class="pull-right">
    <div class="details-status">
    <span data-animation-duration="560" data-value="86" class="animate-number"></span>%
  </div>  
  <a href="login.html"><i class="icon-off"></i></a></div>
  </div>
  <!-- END SIDEBAR --> 